body{ 
     display: flex;
     align-items: center;
     justify-content: center;
     background-image:url(dic.jpg) ;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;
    
    }
    div{

    }
    form{
         background-color: rgb(35, 34, 34);
        width: 300px;
        padding: 50px;
        justify-content: center;
    }
    h1{
         color:rgb(64, 227, 64);
         text-align: center;
    
    }
    input{
        width: 100%;
    }
    a{
        text-align: center;
        margin-left: 250px;
        margin-top:-35px ;
        color:rgb(70, 198, 70) ;
    }
    button{
        width:100%;
        padding: 1%;
        margin-bottom: 15px;
        border-radius: 5px ;
         box-shadow: black;
         margin-right: ;
         background-color: rgb(15, 161, 15);
        
        
    }